* {
  /*border: solid black 1px;*/
}

em {
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ais-Hits-list {
  flex-direction: column;
}

.ais-Hits-item {
  display: flex;
  width: 100%;
  box-shadow: none;
  margin: 20px;
}

.ais-Highlight {
  display: flex;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 3px;

}

.ais-Highlight-nonHighlighted {
  /*color: black;*/
  /*font-size: 1.3em;*/
}

.hit-item {
  display: flex;
  flex-direction: column;
}

.hit-name-sub {
  display: flex;
  align-items: flex-start;
  /*width: 350px;
  justify-content: space-between;*/

  /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/

}

.hit-name-sub-capacity {
  color: #828282;
  font-size: 1em;
  margin-right: 15px;
}

.hit-name-sub-attendance {
  color: #828282;
  font-size: 1em;
  margin-right: 15px;
}

.hit-name-sub-date {
  color: #828282;
  font-size: 1em;
  margin-right: 15px;
}
