* {
  box-sizing: border-box;
}

em {
  font-style: normal;
}

.App {
  text-align: center;
  margin: 0 2rem;
}

.App-header {
  height: 50px;
}

.App-title {
  font-size: 3.5em;
}

.ais-SearchBox {
  margin: 50px auto;
  width: 50%;
}

.ais-InfiniteHits-list {
  flex-direction: column;
}

.ais-InfiniteHits-list:first-child {
  padding-top: 20px;
}

.ais-InfiniteHits-item {
  border: none;
  display: flex;
  width: 100%;
  box-shadow: none;
  margin-top: 0px;
  /*margin-bottom*/: 15px;
}

.ais-InfiniteHits-item:hover {
  background: #EEE;
  cursor: pointer;
}

.title > span {
  font-size: 1.2em !important;
  margin-bottom: 5px;
}

/*.ais-Highlight {
  display: flex;
  margin-bottom: 3px;

}
*/
.ais-Highlight-highlighted {
  font-size: 1.2rem !important;
}

.hit-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hit-name-sub {
  align-items: flex-start;
  display: flex;
}

.hit-name-sub-capacity {
  color: #828282;
  font-size: 1em;
  margin-right: 20px;
}

.hit-name-sub-attendance {
  color: #828282;
  font-size: 1em;
  margin-right: 20px;
}

.hit-name-sub-date {
  color: #828282;
  font-size: 1em;
  margin-right: 20px;
}

.container {
  display: flex;
  height: 550px;
  width: 100%;
}

.events-list {
  height: 500px;
  order: 1;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 20px;
  width: 40%;
}

.map {
  order: 2;
  width: 60%;
}
